 hr{
	color:#CCC;
 }
 h2 { color:brown; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }
 p { color: #2CA4B0; font-family: 'Oleo Script', cursive; font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
 p.author { color: #217969; font-family: 'Helvetica Neue', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 3px; text-align: center; text-shadow: #53b4a2 1px 1px; text-transform: uppercase; }
.form-signin h2 input{
	color: brown;
}
 .add{
	margin: 60px;
	margin-left: 80px;
 }
 .add1{
	margin-top: 25px;
 }
 .footer{
 	margin-top: 10px;
 }
 .nav-stacked>li {
 	border-radius:10px;
 	border-top:1px solid #dadada;
 	border-left:1px solid #dadada;
 	border-right:1px solid #dadada;
  	border-bottom:1px solid #dadada; 
 }
 .frmSearch {border: 1px solid #F0F0F0;background-color:#C8EEFD;margin: 2px 0px;padding:40px;}
#country-list{float:left;list-style:none;margin:0;padding:0;width:190px;}
#country-list li{padding: 10px; 
					background: #FF512F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FF512F , #F09819); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF512F , #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-bottom:#F0F0F0 1px solid;
	border-radius: 10px;
				}
#country-list li:hover{
	background: #50C9C3; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #50C9C3 , #96DEDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
						
}
#search-box{padding: 10px;border: #F0F0F0 1px solid;}
