@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('../fonts/segoeui.eot');
    src: url('../fonts/segoeuid41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeui.woff') format('woff'),
         url('../fonts/segoeui.ttf') format('truetype'),
         url('../fonts/segoeui.svg#SegoeUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/segoeuibold.eot');
    src: url('../fonts/segoeuiboldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuibold.woff') format('woff'),
         url('../fonts/segoeuibold.ttf') format('truetype'),
         url('../fonts/segoeuibold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}