.find{
      width: 100%;
    padding-left: 7%;
    padding-right: 11%;
}
label, .serch-btn{
  width:100%;
}
.label{
  color: black;
}
.modal-header, h4, .close {
      /*background-color: #5cb85c;
      color:white !important;*/
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
#map {    
      height: 420px;  
      position: relative;  
      width: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,.3);
      margin-right: 0px;
 }    

#homecontent {    
      height: 420px;  
      position: relative;  
      width: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,.3);
      margin-right: 0px;
 }   
nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.nav-horizontal>li.has-sub:hover>a {
      background-color: rgba(0, 0, 0, 0.7);
      color:white;
}
.nav-horizontal .sub-menu{
   background-color: rgba(0, 0, 0, 0.7);
} 
.sub-menu>li>a {
    color:white;
    text-decoration: none;
}
.register-form , .src-dest, #map{
  margin-top:20px;
  margin-bottom:20px; 
}
.container{ 
  margin-top:30px;
  width: 95%;
}


@mediascreen and (max-width:350px){ 
    .register-form{
    width:320px;
  }
}
 
@media(min-width:568px) and (max-width:767px){ 
  .register-form{
    width: 300px;
  }
  
}

/* Small */
@media(min-width:768px) and (max-width:991px){ 
  .register-form{
      width: 500px;
  }

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){ 
  .register-form{
    width: 650px;
  }
 
}

/* Large */
@media screen and (min-width:1200px){ 
 .register-form{
    width: 700px;
  }
 
}
.contentheader{
  background-image: url(../images/contentheader.jpg);
  height: 30px;
}
.contentheader:hover{
  background-image: url(../images/contentheaderho.jpg);
}
.contentborder{
  background-image: url(../images/contentborder.jpg);
  height: 10px;
}
.contentborder:hover{
  background-image: url(../images/contentborderho.jpg);
}

