/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Modern Slide In
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/modern-slide-in/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/

/* THEME STYLES */
#sequence {
    position: relative;
    height: 446px;
    overflow: hidden;
}

#sequence > .sequence-canvas{
    padding: 0;
    margin: 0 auto;
    width: 940px;
    height: 400px;
    list-style: none;
    position: relative;
    z-index: 2;
}
#sequence > .sequence-canvas > li {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: -50%;
    left: 0;
}
#sequence > .sequence-canvas li > * {
    /* only cause the left and opacity properties to transition */
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -ms-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.slide-item .slide-image{
    position: absolute;
    width: 460px;
    height: 100%;
    bottom: -55%;
    opacity: 0;
    left: -20%;
}
.slide-item.animate-in .slide-image{
    left: 0;
    opacity: 1;
}
.slide-item.animate-out .slide-image{
    left: -20%;
    opacity: 0;
}
.slide-item .slide-image img{
    max-height: 400px;
	width: 100%;
}
.slide-item .ver-block {
    width:460px;
    height:400px;
    display:table-cell;
    vertical-align:middle;
}
.slide-item .slide-title{
    color: #FFF;
    font-size: 2.429em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    position: absolute;
    width: 460px;
    bottom: 13%;
    left: 680px;
    opacity: 0;
}
.slide-item.animate-in .slide-title{
    left: 480px;
    opacity: 1;
}
.slide-item.animate-out .slide-title{
    left: 280px;
    opacity: 0;
}
.slide-item .slide-desc-btn{
    position: absolute;
    top: 91%;
    width: 460px;
    left: 280px;
    opacity: 0;
}
.slide-item.animate-in .slide-desc-btn{
    left: 480px;
    opacity: 1;
}
.slide-item.animate-out .slide-desc-btn{
    left: 680px;
    opacity: 0;
}
.slide-item .slide-description{
    margin:0 0 14px 0;
    padding: 0;
    color: #FFF;
    font-size: 1.071em;
    line-height: 1.7em;
}
.slide-item .link-btn{
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px 19px;
    margin: 0 10px 10px 0;
    background: rgba(0,0,0,0.5);
    *background: #313332;
    color: #FFF;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -o-transition:background 0.3s;
    -ms-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -webkit-transition:background 0.3s;
    transition:background 0.3s;
}
.slide-item .link-btn.btn-light{
	background: rgba(255,255,255,0.5);
	*background: #DBDBD9;
    color: #424242;
}
.slide-item .link-btn:hover{
	background:#4A92E2;
	color:#FFF;
}
.animate-in .model {
    left: 15%;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.animate-out .model {
    left: 15%;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.sequence-next,
.sequence-prev {
    color: white;
    cursor: pointer;
    display: none;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    z-index: 1000;
    height: 75px;
    margin-top: -47.5px;
}

.sequence-pause {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
}

.sequence-paused {
    opacity: 0.3;
}

.sequence-prev {
    left: 3%;
}

.sequence-next {
    right: 3%;
}

.sequence-prev img,
.sequence-next img {
    height: 100%;
    width: auto;
}

#sequence-preloader {
    background: #d9d9d9;
}
#sequence .wrap-pagination{
    position: absolute;
    width: 100%;
    height: 46px;
    background: url("../images/black-dot-25.png");
    z-index: 3;
}
.sequence-pagination{
    display: none;
    padding: 3px 0;
    margin: 0 auto;
    list-style: none;
}
.sequence-pagination li{
    color: #b6c1c7;
    font-size: 1.5em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Fjalla One", Arial, sans-serif;
    /*transition:color 0.3s;
    -o-transition:color 0.3s;
    -ms-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -webkit-transition:color 0.3s;*/
}
.sequence-pagination li:hover{
    color: #FFF;
}
.sequence-pagination li.current{
    background: url("../images/black-dot-50.png");
    color: #FFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.sequence-next,
.sequence-prev {
    position: absolute;
    opacity: 0.6;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.sequence-next:hover,
.sequence-prev:hover {
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

/*reponsive*/
/*@media only screen and (min-width: 992px) {
    #sequence .title {
        width: 42%;
    }
}

@media only screen and (max-width: 838px) {
    #sequence {
        height: 550px;
    }

    #sequence .model {
        max-height: 530px !important;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    #sequence {
        height: 500px;
    }

    #sequence .title {
        font-size: 2.8em;
    }

    #sequence .subtitle {
        font-size: 1.6em;
    }

    #sequence .sequence-next,
    #sequence .sequence-prev {
        height: 60px;
        margin-top: -40px;
    }

    #sequence .model {
        max-height: 480px !important;
        width: auto;
    }
}

@media only screen and (max-width: 568px) {
    #sequence .model {
        left: 50%;
        min-width: 40%;
        *//*prevents the model from shrinking when the browser is resized*//*
        width: 40%;
    }

    #sequence .animate-in .model {
        left: 50%;
        margin-left: -20%;
    }

    #sequence .animate-out .model {
        left: 50%;
        margin-left: -20%;
    }

    #sequence .title {
        background: #a1a1a1;
        background: rgba(0, 0, 0, 0.3);
        bottom: 0;
        left: 100%;
        padding: 4%;
        bottom: -50%;
        width: 100%;
        z-index: 10;
    }

    #sequence .animate-in .title {
        left: 0%;
    }

    #sequence .animate-out .title {
        left: -100%;
    }

    #sequence .subtitle {
        visibility: hidden;
    }

    #sequence .sequence-pagination {
        bottom: 40px;
    }

    #sequence .sequence-pagination li img {
        height: 100px;
    }
}

@media only screen and (max-width: 518px) {
    #sequence {
        height: 450px;
    }
}

@media only screen and (max-width: 468px) {
    #sequence {
        height: 415px;
    }

    #sequence .sequence-pagination {
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-width: 418px) {
    #sequence {
        height: 375px;
    }
}

@media only screen and (max-width: 368px) {
    #sequence {
        height: 325px;
    }

    #sequence .title {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    *//*iphone portrait*//*
    #sequence {
        height: 320px;
    }

    #sequence .model {
        min-width: 45%;
        width: 45%;
    }

    #sequence .animate-in .model {
        margin-left: -22.5%;
    }

    #sequence .animate-out .model {
        margin-left: -22.5%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
    #sequence {
        height: 260px;
    }

    #sequence .model {
        min-width: 24%;
        width: 24%;
    }

    #sequence .animate-in .model {
        left: 17.5%;
        margin-left: 0;
    }

    #sequence .animate-out .model {
        left: 17.5%;
        margin-left: 0;
    }

    #sequence .sequence-pagination {
        right: 17.5%;
    }
}*/
