.slide-main{
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-top: 2%; 
	left: 0px;
	width:1300px; 
	height: 600px;
	overflow: hidden; 
	visibility: hidden;
	margin-bottom:2%; 
}
.slide-img{
	cursor: default; 
	position: relative;
	top: 0px; 
	margin: 0px;
	padding: 0px;
	left: 0px; 
	width: 1300px;
	height: 500px;
	overflow: hidden;
}
.slide-bullet{
	bottom: 70px;
	right: 16px; 
}
